body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(223, 168, 137);
}

header {
    background-color: antiquewhite;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin: 10px;
}

nav a {
    display: block;
    background-color: rgb(248, 41, 41);
    text-decoration: none;
    padding: 1px 10px;
    border: 3px solid rgb(26, 24, 23);
}

footer {
    grid-area: footer;
}

footer a {
    display: block;
    text-decoration: none;
    font-size: large;
    padding: 5px;
    text-align: center;
}
.footerlinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer a:hover {
    color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "header header header"
        "navigation navigation navigation"
        "aside main main"
        "footer footer footer";
}

header { grid-area: header; }
nav { grid-area: navigation; }
aside { grid-area: aside; }
main { grid-area: main; }
footer { grid-area: footer; }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.pic1, .pic2, .pic3, .pic4, .pic5, .pic6 {
    width: 220px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 5px;
    border-radius: 5px;
    margin: 10px;
}

.pic {
    width: 200px;
    height: auto;
    box-shadow: 2px 2px;
    border: solid 2px;
}
