body {
    font-family: cursive;
}
.schedule {
    /* border: 1px solid black; */
    box-shadow: 5px 6px 8px;
    border-radius: 10px;
    caption-side: bottom;
    border-spacing: 5px;
    border-collapse: collapse;
}
.schedule th, .schedule td {
    /* border: 1px solid black; */
    padding: 5px;
    vertical-align: top;
    /* border-bottom: thick solid black; */
}
a {
    text-decoration: none;
    color: rgb(57, 16, 241)
}
.schedule thead {
    background-color: bisque;
    color: rgb(54, 167, 167);
}
.schedule tfoot tr {
    background-color: beige;
}
.odd {
    background-color: rgb(201, 124, 31);
}
.schedule tr:nth-child(even) {
    background-color: blanchedalmond;
}
main p:first-letter {
    font-size: 30px;
    color: brown;
}