body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(151, 106, 106);
}
footer p {
    color: #ff0000;
}
#firstpar {
    color: #f96;
}
.coral {
    color: coral;
}
.bigger {
    font-size: 18pt;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
